 name: Continuous Integration
 
 on:
   push:
     branches:
       - '*'
   pull_request:
     branches:
       - '*'
   schedule:
       - cron: '59 23 * * *'
   workflow_dispatch:
     inputs:
       version:
         description: Manual Unittest Run
         default: test
         required: false

 jobs:
   linting:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-python@v4
        - uses: pre-commit/action@v3.0.0

   testing:
     needs: linting
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     strategy:
       matrix:
         os: [ubuntu-latest]
         environment-file:
           - ci/38-BASE.yaml
           - ci/39-BASE.yaml
           - ci/310-BASE.yaml
           - ci/311-BARE.yaml
           - ci/311-BASE.yaml
           - ci/311-DEV.yaml
         include:
           - environment-file: ci/311-BASE.yaml
             os: macos-latest
           - environment-file: ci/311-BASE.yaml
             os: windows-latest
       fail-fast: false

     defaults:
       run:
         shell: bash -l {0}

     steps:
       - name: checkout repo
         uses: actions/checkout@v3
       
       - name: setup micromamba
         uses: mamba-org/setup-micromamba
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
           channel-priority: 'flexible'
      
       - name: install bleeding edge libpysal & esda (Ubuntu / Python 3.11)
         run: |
           pip install git+https://github.com/pysal/libpysal.git@main
           pip install git+https://github.com/pysal/esda.git@main
         if: matrix.os == 'ubuntu-latest' && contains(matrix.environment-file, 'DEV')
       
       - name: environment info
         run: |
           micromamba info
           micromamba list
       
       - name: spatial versions (if geopandas is installed)
         run: 'python -c "import geopandas; geopandas.show_versions();"'
         if: contains(matrix.environment-file, 'DEV') || contains(matrix.environment-file, 'BASE')
       
       - name: run tests
         run: |
           pytest spaghetti -v -r a -n auto --cov spaghetti --doctest-modules --cov-report xml --color yes --cov-append --cov-report term-missing --timeout 60
       
       - name: codecov
         uses: codecov/codecov-action@v3
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: spaghetti-codecov
